<div class="row">
    <div class="col-md-6">
        <img src="img/zhao.jpg" class="img-circle img-responsive" id="about-image"></img>
    </div>
    <div class="col-md-6" id="about">
        <h2>My name is Zhao Zilong......</h2>
        <p>
                I'm a 25 years old chinese guy studied in France. In 2014, I got my bachelor degree at
            Dalian University of Technology, where I majored in network security and I graduated with
            a score more than 85/100, during these years, I also spent a lot of time in Mr. Li Mingchu's
            laboratory to develop the applications about indoor localisation.
        </p>
        <p>
                Since 2014, I continued to study at Polytech Grenoble of University of Grenoble Aples,
            at department Computer Network and Communication Multimedia, the passed two years, I got a average score
            more than 15/20, and now I'm a big html5 fan, especially WebRTC technology, it makes p2p so easy, I
            have an experience of developing a 3D call application with Oculus Rift, Arduino and WebRTC, his flexibility
            is really impressive.
        </p>
        <p>
                Now, I'm looking for an internship for 6 months, if you have offers for Full stack, MEAN stack  or
            webrtc developer, I'm really glad to contribute my talent to your team!
        </p>
    </div>

</div>
 <div class="row">
        </br>
        <div class="col-md-2 col-md-offset-3">
        <a href="https://fr.linkedin.com/in/zilong-zhao-6241a1102" class="icon-cog" style="color:#205081">
            <i class="fa fa-linkedin-square fa-5x"></i>
        </a>
        </div>
        <div class="col-md-2 ">
            <a href="https://github.com/zhao-zilong" i class="icon-cog" style="color:black">
            <i class="fa fa-github-square fa-5x"></i>
           </a>
        </div>
        <div class="col-md-2 ">
            <a href="https://www.facebook.com/profile.php?id=100003844360931/" class="icon-cog" style="color:#3B5998" >
            <i class="fa fa-facebook-square fa-5x"></i>
           </a>
        </div>
        <div class="col-md-2 ">
            <a href="https://www.youtube.com/c/BrentAureli" class="icon-cog" style="color:#CD5C5C">
            <i class="fa fa-youtube-square fa-5x"></i>
            </a>
        </div>
    </div>
