<!--
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <carousel interval="myInterval">
          <slide ng-repeat="slide in slides" active="slide.active">
              <a href="{{slide.link}}">
                  <img ng-src="{{slide.image}}" style="margin:auto;">
              </a>
          </slide>
        </carousel>
    </div>
</div>
-->

 <div>


       <video autoplay loop poster="img/surfing.png" id="bgvideo"  width="1920" height="1080">
        <source src="video/surfing.mp4" type="video/mp4">
       </video>



        <div id="nice">
        <h1>Life of Challenge</h1>
        </div>


</div>
