#about-image {
    border-style: solid;
    border-color: black;
    border-width: 5px;
}
#about h2 {
    border-bottom: 2px solid black;
}
p {
    text-indent: 40px;
}

tr.ng-enter{
    animation: bounceInUp 1s;
}
tr.ng-leave{
    animation: bounceOut 1s;
    
}

.user-window{
    border-left: 2px solid black;
    height: 300px;
}
.username{
    color: red;
    font-weight: bold;
}

.chat-window{
    height: 300px;
    overflow-y: auto;
    overflow-x: auto;
}

ul {
    list-style-type: none;
}