#about-image {
    border-style: solid;
    border-color: black;
    border-width: 5px;
}
#about h2 {
    border-bottom: 2px solid black;
}
p {
    text-indent: 40px;
}

tr.ng-enter{
    animation: bounceInUp 1s;
}
tr.ng-leave{
    animation: bounceOut 1s;

}

.user-window{
    border-left: 2px solid black;
    height: 300px;
}
.username{
    color: red;
    font-weight: bold;
}

.chat-window{
    height: 300px;
    overflow-y: auto;
    overflow-x: auto;
}

ul {
    list-style-type: none;
}

.navbar-brand {
    padding-top:4px !important;
    padding-bottom:4px !important;
    height: 45px;
}

.navbar{
    background:rgba(0,0,0,0.2);
    min-height:40px;
}

.navbar .nav >li > a:visited{
    color: white;
    background-color: transparent;
}
.navbar .nav >.active > a{
    color: white !important;
    background-color: transparent !important;
}

.navbar .nav > li > a:hover {
    color: white;
    background:rgba(0,0,0,0.4);
}
.navbar li { color: #000 } 
