<div class="row">
    <div class="col-md-6">
          <form class="well">
            <div class="form-group">
                <label for="firstname">Firstname</label>
                <input type="text" class="form-control" id="firstname" ng-model="form.firstname">
            </div>
            <div class="form-group">
                <label for="lastname">Lastname</label>
                <input type="text" class="form-control" id="lastname" ng-model="form.lastname">
            </div>
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="text" class="form-control" id="phone" ng-model="form.phone">
            </div>
            <div class="form-group">
                <label for="street">Street Address</label>
                <input type="text" class="form-control" id="street" ng-model="form.address.street">
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" ng-model="form.address.city">
            </div>
            <div class="form-group">
                <label for="region">State</label>
                <input type="text" class="form-control" id="region" ng-model="form.address.region">
            </div>
            <div class="form-group">
                <label for="zip">zip</label>
                <input type="text" class="form-control" id="zip" ng-model="form.address.zip">
            </div>
            <div class="row">
                <button type="submit" class="btn btn-success" ng-click="addToDatabase()">Add Customer</button>
            </div>
            <br>
        </form>  
    </div>
    
    <div class="col-md-6">
       <div id="customer-table">
        <table class="table table-hover">
            <thead>
                <th>Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th><i class="fa fa-trash" ng-click="deleteAll()"></i></th>
                
            </thead>
            <tr ng-repeat="customer in customers | startfrom:(currentPage - 1) * pageSize | limitTo: pageSize">
                <td>{{customer.lastname}}, {{customer.firstname}}</td>
                <td>{{customer.phone}}</td>
                <td>{{customer.address.street}}</br>
                {{customer.address.city}},{{customer.address.region}}</br>
                {{customer.address.zip}}</td>
                <td><i class="fa fa-trash" ng-click="delete($index)"></i></td>
            </tr>
        </table>
        </div>
        <pagination total-items="customers.length" ng-model="currentPage" items-per-page="pageSize"></pagination>
    </div>
    
</div>
        
   
